.board-wrapper{
  background-image: url("./background_Image.png");
  background-position: top left, top right; 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;               
  padding: 10px 20px 20px;    
  box-sizing: border-box;
  border-radius: 0 10px 10px 0;
  flex: 1;  
}
.board-container {
    display: grid;
    grid-template-columns: repeat(5, 70px);
    gap:16px;
    margin-top: 20px;
    background-color: transparent;
}
.board-box-container {
  background-image: url("board_image02.webp"), url("board_image01.webp");
    background-repeat: no-repeat, no-repeat;
    background-size: 120px 60px, 130px 70px;
    background-position: 10px -5px, calc(100% - 10px) -5px;
    background-size: 150px, 150px; 
}
.board-boxes{
  height: 76px;
  width: 76px;
  border-radius: 10px;
  background-color: #4A5354;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: 0.25s;
}
.board-boxes:hover{
  background-color: #434546;
}
.board-heading {
    background-color: #323738;
    color: #B3BEC1;
    font-size: 14px;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    width: 80%;
    margin-top: 0px;
    border-radius: 5px;
    padding: 12px;
}

.board-boxes.diamond {
 background-color: #7D40CF; 
}

 .board-boxes.bomb {
  background-color:transparent;
}


.board-boxes:hover {
  background-color: #434546;
}

.board-boxes.faded {
  opacity: 0.25;
  cursor: not-allowed;
}
.board-box-container{
    background-color: #2F3536;
    padding: 10px 23px;
    border-radius: 10px;
     margin-top: 30px; 
}

.board-boxes .icon {
  width: 76px;
  height: 62px;
  pointer-events: none;  
  object-fit: contain;
}
