.main-layout {
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 50px;
  height: 90vh;
  justify-content: center;
  align-items: center;
  width: 80%;       
  margin: 0 auto;   
  padding: 0;      
  background-color: rgb(15, 14, 14);
  border-radius: 10px;
  margin-top: 30px;
}

@media (max-width: 1024px) {
  .main-layout {
    grid-template-columns: 1fr;  /* Side by side → stacked */
    height: auto;
    margin-top: 20px;
    gap: 30px;
  }
}

/* Mobile view */
@media (max-width: 600px) {
  .main-layout {
    grid-template-columns: 1fr;
    width: 95%;        /* screen ke almost full width */
    padding: 0;
    gap: 25px;
  }
  .sidebar-container {
    width: 100%;
  }

  .board-heading {
    width: 100%;
  }
}