.main-layout {
  display: flex;         
  height: 90vh;
  width: 80%;
  margin: 0 auto;        
  align-items: stretch;  
  margin-top: 20px;
}

.main-layout > .sidebar-container,
.main-layout > .board-wrapper {
  height: 100%;   
}


@media (max-width: 1024px) {
  .main-layout {
    grid-template-columns: 1fr; 
    height: auto;
    margin-top: 20px;
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .main-layout {
    grid-template-columns: 1fr;
    width: 95%;       
    padding: 0;
    gap: 25px;
  }
  .sidebar-container {
    width: 100%;
  }

  .board-heading {
    width: 100%;
  }
}